<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Homebrewing charts, recipes and calculations">
    <meta name="author" content="CodeP">
    <title><%= title %></title>
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href="/css/styles.css" rel="stylesheet"> -->
    <%= css :application %>
    <!-- // <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    // <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    // <script src="http://thecodeplayer.com/u/js/jquery.easing.min.js"></script>
    // <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script> -->
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
	<a href="/" class="navbar-brand">Brewer's Cookbook</a>
	<button class="navbar-toggle" data-toggle="collapse" data-target =".navHeaderCollapse">
	  <span class = "icon-bar"></span>
	  <span class = "icon-bar"></span>
	  <span class = "icon-bar"></span>
	</button>
	<div class="collapse navbar-collapse navHeaderCollapse">
	  <ul class="nav navbar-nav navbar-right">
	    <%= yield_content :navigation %>
	  </ul>
	</div>
      </div>
    </div>
    <%= yield %>
    <div id="footer">
      <p>&copy; Brewby&trade; 2014</p>
    </div>
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <!-- // <script src="js/bootstrap.js"></script>
    // <script src="js/script.js"></script> -->
    <script>
      function recipeController($scope,$http) {
        $http.get('recipe_JSON').succes(function(response){recipe = response;});
      }
    </script>
  </body>
</html>
