#content
  main
    h1 Login
    form.flp
      div
        input type='text' id='fname'
        label for='fname' Username
      div
        input type='password' id='fpass'
        label for='fpass' Password
      div
        input type='submit' name='submit' class='submit action-button' value='submit'
