<% content_for :navigation do %>
<li class="active"><a href="/"><i class="fa fa-home"></i>Home</a></li>
<li><a href="/recipes"><i class="fa fa-plus-circle"></i>Recipes</a></li>
<li><a href="/ingredients"><i class="fa fa-folder-open"></i>Ingredients</a></li>
<li><a href="/styles"><i class="fa fa-beer"></i>Styles</a></li>
<li><a href="/calculations"><i class="fa fa-cog"></i>Calculations</a></li>
<% end %>
<div id="content">
  <!-- <div class="col-lg-1 col-md-1 col-xs-1">
    <ul class="homelist">
      <fieldset>
        <legend>In the cookbook</legend>
      </fieldset>
      <li>Recipes: <%= @crcp %></li>
      <li>Hops: <%= @chps %></li>
    </ul>
  </div> -->
  <main>
    <h1>Login</h1>
    <form class="flp">
      <div>
        <input type="text" id="fname" />
        <label for="fname">Username</label>
      </div>
      <div>
        <input type="password" id="fpass" />
        <label for="fpass">Password</label>
      </div>
      <div>
        <input type="submit" name="submit" class="submit action-button" value="submit" />
      </div>
    </form>
  </main>

</div>
