<% content_for :navigation do %>
<li class="active"><a href="/">Home</a></li> 
<li><a href="/recipes">Recipes</a></li>
<li><a href="/ingredients">Ingredients</a></li>
<li><a href="/styles">Styles</a></li>
<li><a href="/calculations">Calculations</a></li>
<% end %>
<div id="content">
  <p>lorem ipsum</p>
</div>
