<% content_for :navigation do %>
<li class="active"><a href="/">Home</a></li>
<li><a href="/recipes">Recipes</a></li>
<li><a href="/ingredients">Ingredients</a></li>
<li><a href="/styles">Styles</a></li>
<li><a href="/calculations">Calculations</a></li>
<% end %>
<div id="content">
  <main>
    <h1>Login</h1>
    <form class="flp">
      <div>
        <input type="text" id="fname" />
        <label for="fname">Username</label>
      </div>
      <div>
        <input type="password" id="fpass" />
        <label for="fpass">Password</label>
      </div>
      <div>
        <input type="submit" name="submit" class="submit action-button" value="submit" />
      </div>
    </form>
  </main>
</div>
